[mysqld]
character-set-server=utf8
collation-server=utf8_general_ci
default-authentication-plugin=sha256_password
ssl-ca=/cert/chain.pem
ssl-cert=/cert/cert.pem
ssl-key=/private_key.pem

[mysql]
default-character-set=utf8
